services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - WEBUI_PORT=5080
    volumes:
      - ./qbittorrent/config:/config
      - /home/oscar:/downloads
    ports:
      - "5080:5080"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped
    networks:
      - mynetwork

radarr:
  image: lscr.io/linuxserver/radarr:latest
  container_name: radarr
  environment:
    - PUID=1000
    - PGID=1000
    - TZ=Europe/Madrid
  volumes:
    - ./radarr/config:/config
    - ./radarr/movies:/movies
    - ./radarr/downloads:/downloads
  ports:
    - "7878:7878"
  restart: unless-stopped
  networks:
    my-network:


sonar:
  image: lscr.io/linuxserver/sonarr:latest
  container_name: sonarr
  environment:
    - PUID=1000
    - PGID=1000
    - TZ=Europe/Madrid
  volumes:
    - ./sonarr/config:/config
    - ./sonarr/tv:/tv
    - ./sonarr/downloads:/downloads
  ports:
    - "8989:8989"
  restart: unless-stopped
  networks:
    my-network:


prowlarr:
  image: lscr.io/linuxserver/prowlarr:latest
  container_name: prowlarr
  environment:
    - PUID=1000
    - PGID=1000
    - TZ=Europe/Madrid
  volumes:
    - ./prowlarr/config:/config
  ports:
    - "9696:9696"
  restart: unless-stopped
  networks:
    my-network:


jellfin:
  image: jellyfin/jellyfin:latest
  container_name: jellyfin
  volumes:
    - ./jellyfin/config:/config
    - ./jellyfin/cache:/cache
    - ./jellyfin/media:/media
  ports:
    - "8096:8096"
  restart: unless-stopped

jellyseerr:
  image: fallenbagel/jellyseerr:latest
  container_name: jellyseerr
  environment:
    - TZ=Europe/Madrid
  volumes:
    - ./jellyseerr/config:/app/config
  ports:
    - "5055:5055"
  restart: unless-stopped
  networks:
    my-network:
      external: false
